<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="field profile-form">
    <%= f.label :name, class: 'label' %><br>
    <%= f.text_field :name, class: 'input' %>
  </p>

  <p class="field profile-form">
    <%= f.label :location, class: 'label' %><br>
    <%= f.text_field :location, class: 'input' %>
  </p>

  <p class="field">
    <%= f.label :role, class: 'label' %><br>
    <%= f.select(:role, [['Mentor', 'mentor'], ['Protege', 'protege']], {:prompt => 'Select Your Desired Role',:include_blank => false}, data: { behavior: "select-role" }) %>
  </p>

  <p class="field">
    <%= f.label :quote, class: 'label'  %><br>
    <%= f.text_area :quote, class: 'input essay'  %>
  </p>

  <p class="field">
    <%= f.label :insights, class: 'label'  %><br>
    <%= f.text_area :insights, class: 'input essay'  %>
  </p>

  <p class="field">
    <%= f.label :image_url, class: 'label'  %><br>
    <%= f.text_field :image_url, class: 'input'  %>
  </p>

    <p class="field">
      <%= f.label :twitter, class: 'label' %><br>
      <%= f.text_field :twitter, class: 'input'  %>
    </p>

    <p class="field">
      <%= f.label :linkedin, class: 'label' %><br>
      <%= f.text_field :linkedin, class: 'input'  %>
    </p>

    <p class="field">
      <%= f.label :facebook, class: 'label' %><br>
      <%= f.text_field :facebook, class: 'input'  %>
    </p>

    <p class="social-field">
      <%= f.label :instagram, class: 'label' %><br>
      <%= f.text_field :instagram, class: 'input' %>
    </p>

  <p class="actions">
    <%= f.submit %>
  </p>
<% end %>
