<div class="search-boxes">
	<%= form_tag(profiles_path, method: "get") do %>
		<%= label_tag(:role, "role")  %>
		<%= select_tag(:role, options_for_select([['mentor', 'mentor'],['protege', 'protege'],['all', nil]], @role)) %>
		<%= label_tag(:search, "value")  %>
		<%= collection_select(:search, :value, @values, :id, :value, {:include_blank => 'All', :selected => @value}) %>
		<%= label_tag(:location, "location") %>
	  <%= text_field_tag(:location, @location) %>
	  <%= submit_tag("Search") %>
	<% end %>
	<!-- need clear search -->
</div>

  <% @profiles.each do |profile| %>
		<% if profile.image_url != nil %>
			<%= link_to profile_path(profile.id) do %>
  		  <div class="profile-card">
  				<div class="card-left">
	  				<%= image_tag profile.image_url, class: 'user-img' %>
	  				<div class="values">
		  				<% if profile.values.length >= 3 %>
		  					<div class="value"><%= profile.values[0].value %></div>
		  					<div class="value"><%= profile.values[1].value %></div>
		  					<div><%= profile.values[1].value %></div>
		  				<% elsif profile.values.length == 2 %>
		  					<div class="value"><%= profile.values[0].value %></div>
		  					<div class="value"><%= profile.values[1].value %></div>
		  				<% elsif profile.values.length == 2 %>
		  					<div class="value"><%= profile.values[0].value %></div>
		  				<% end %>
  					</div>
  				</div>
	  			<div class="card-right">
	  				<span class="quote"><%= profile.quote %></span>
	  				<p><%= profile.location %></p>
			  		<p><%= profile.insights %></p>
		  		</div>
	  		</div>
	  		<% end %>
		<% end %>
<% end %>
