	<div class="profile left-col">

		<% if @profile.image_url %>
			<%= image_tag @profile.image_url, class: 'user-img' %>
		<% else %>
			<img src="http://www.placecage.com/c/200/300" class="user-img">
		<% end %>

		<div class='values'>


				<h2>Values</h2>
					<% if @profile.user == current_user %>
						<%= link_to 'new', new_profile_valuetagging_path(@profile) %>
					<% end %>
					<% @valuetaggings.each do |value| %>
					<div class='value-item'><p><%= value.value %></p></div>
							<% end %>
						</div>

	<div class="profile right-col">
		<div><h4 class="meet">Meet <%= @profile.name %> </h4></div>
		<span class="role-loc">a <%= @profile.role%> in <%= @profile.location %></span>

		<blockquote>"<%= @profile.quote %>"</blockquote>

			<div class="experience">
				<h2>EXPERIENCE</h2>

				<div>
					<% @experiences.each do |experience| %>
						<h4><%= experience.role %></h4>

						<div class="exp-info">
							<div><%= experience.company %></div>
							<div><%= experience.start_date %> - <%= experience.end_date %> </div>
							<p><%= experience.description %></p>
						</div>
					<% end %>
				</div>
			</div>

			<% if @profile.role == "mentor" %>
				<div class="insights">
					<h2>INSIGHTS</h2>

					<blockquote>"<%= @profile.insights %>"</blockquote>
				</div>
			<% end %>

	</div>
	</div>
