<div class="profile">
	<div class="row">
		<div class="col s4">
			<img src="http://www.placecage.com/c/200/300">
		</div>

<<<<<<< HEAD
		<div class='values'>
			<h2>Values</h2>
			<%= link_to 'New Value', new_profile_value_path(@profile) %>
			<% @values.each do |value| %>
				<p><%= value %></p>
				<% end %>
			</div>

		<h2><%= @profile.name %></h2>
=======

<h2>Values</h2>
		<div class='value-item' id='value0'>
			<% if @valuetaggings[0].blank? %>
				 <select value='@valuetaggings[0]'><%= options_from_collection_for_select(@values, 'id', 'value') %></select>
				<%= @valuetaggings[0] %>
			<% end %>
		</div>
		<div class='value-item' id='value1'>
			<% if @valuetaggings[1].blank? %>
				 <select><%= options_from_collection_for_select(@values, 'id', 'value') %></select>
				<%= @valuetaggings[1] %>
			<% end %>
		</div>
		<div class='value-item' id='value2'>
			<% if @valuetaggings[2].blank? %>
				 <select><%= options_from_collection_for_select(@values, 'id', 'value') %></select>
				<%= @valuetaggings[2] %>
			<% end %>
		</div>


		<%= @profile.user %>
>>>>>>> master

		<div class="col s8">
			<div class="role">
				<h2><%= @profile.role.upcase %></h2>
				<% if current_user == @profile.user %>
					<%= link_to 'edit', edit_profile_path(@profile) %>
				<% end %>
				<h4><%= @profile.location %></h3>
				<blockquote>"<%= @profile.quote %>"</blockquote>
			</div>

			<div class="experience">
				<h2>Experience</h2>
				<% if current_user == @profile.user %>
					<%= link_to 'new', new_profile_experience_path(@profile) %>
				<% end %>
				<% @experiences.each do |experience| %>
					<h3><%= experience.role %></h3>
					<% if current_user == @profile.user %>
						<%= link_to 'edit', edit_profile_experience_path(@profile, experience) %>
						<%= link_to 'delete', profile_experience_path(@profile, experience), method: :delete, data: { confirm: 'Are you sure?' } %>
					<% end %>
					<h4><%= experience.company %></h4>
					<span> <%= experience.start_date %> </span>
					<span> -  <%= experience.end_date %> </span>
					<p><%= experience.description %></p>
				<% end %>
			</div>
		</div>
	</div>


	<% if @profile.role == "mentor" %>
		<div class="insights">
			<h2>INSIGHTS</h2>
			<% if current_user == @profile.user %>
				<%= link_to 'edit', edit_profile_path(@profile) %>
			<% end %>
			<blockquote>"<%= @profile.insights %>"</blockquote>
		</div>
	<% end %>
</div>
