<!DOCTYPE html>
<html>
<head>
  <title>Pansorius</title>
  <%= stylesheet_link_tag    'normalize', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'splash', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <meta name=”viewport” content=”width=device-width, initial-scale="1">
</head>
<body class="<%= controller_name %> <%= action_name %>">
   <ul>
     <% if current_user %>
       <li>Welcome, <%= current_user.email %></li>
       <li><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></li>
     <% else %>
       <li><%= link_to 'Signup', new_user_registration_path %></li>
       <li><%= link_to 'Login', new_user_session_path %></li>
     <% end %>
   </ul>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
<%= yield %>

</body>
</html>
