<!DOCTYPE html>
<html>
<head>
  <title>Pansori.us</title>
  <%= stylesheet_link_tag    'normalize', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'splash', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name=”viewport” content=”width=device-width, initial-scale="1">
</head>

<body class="<%= controller_name %> <%= action_name %>">
<div id="nav-container">
  <div class="nav-text">
    <span class="nav-title"><%= link_to 'Pansori.us', root_path %></span>
    <span class="notice alert">
      <%= notice %>
      <%= alert %>
    </span>
    <span>
      <%= link_to 'mentors', mentors_path, class: 'mentors-link results-links' %>
      <%= link_to 'proteges', proteges_path, class: 'proteges-link results-links' %>
    </span>
    <span class="links">
      <%= link_to 'about', about_path %>
      <% if !current_user %>
        <%= link_to 'sign up', new_user_registration_path %> <%= link_to 'login', new_user_session_path %>
      <% else %>
        <%= link_to 'sign out', destroy_user_session_path, :method => :delete %>
      <% end %>
    </span>
  </div>
</div>

<%= yield %>

</body>
</html>
